<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The App</title>
    </head>

    <body>
        {{> header}}
        <p>Hello Ducks</p>

        {{> footer}}
    </body>
</html>